@{
    ViewData["Title"] = "Index";

    ViewData["ViewTitle"] = "Welcome";
    ViewData["Description"] = "Your health is our top priority, and we understand that every individual is unique";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<style>
    #container {
        transition: transform 0.3s ease; /* Add a smooth transition */
    }

        #container:hover {
            transform: scale(1.1); /* Grow by 10% on hover */
        }

</style>

@if (TempData["Success"] != null)
{

    <div class="alert   w-100 @(Convert.ToString(TempData["UpdateType"]) == "success" ? "alert-success" : "alert-danger")" id="tempDataMessage" role="alert">
        <h5 class="text-dark text-center">@TempData["Success"]</h5>
    </div>
}
<div id="carouselExampleIndicators" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Slider/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/Slider/2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/Slider/3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h4 class="text-center mt-3 text-black">With Us, We provide</h4>
@if (User.IsInRole("Patient"))
{
    @if (TempData["FileFound"] == null)
    {
        <div id="myModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header">
                      
                            <h3 class="modal-title"><img src="~/images/Medical.png" style="width:50px" />  Let us know more about your Medical Background</h3>
                            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                      
                    </div>
                    <div class="modal-body">
                        <partial name="~/Views/Medical_File/Create_File.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container-fluid text-center">
        <div class="card-group gap-2 border-0">

            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Patient" asp-controller="Walk_In">
                    <img src="~/assets/images/walkin.png" width="90px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>Walk IN</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0 text-center">
                <a style="text-decoration:none;" asp-action="Patient" asp-controller="Counselling">
                    <img src="~/assets/images/Counse.png" width="100px" class="card-img-top mb-5" alt="...">
                    <div class="card-body border-0 mt-4">
                        <strong> Counselling </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Patient" asp-controller="Pathology">
                    <img src="~/assets/images/Lab.png" width="100px" class="card-img-top mb-3" alt="...">
                    <div class="card-body border-0 mt-5">
                        <strong>   Pathology</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Patient" asp-controller="Chronic_Medication">
                    <img src="~/assets/images/Chrnic.png" width="100px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>   Chronic Medication </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Patient" asp-controller="Gender_Based_Violence">
                    <img src="~/assets/images/GBV.png" width="80px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong> GBV </strong>
                    </div>
                </a>
            </div>

        
        </div>
    </div>
}
else if (User.IsInRole("Doctor"))
{
    <div class="container-fluid text-center">
        <div class="card-group gap-2 border-0">

            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller="Walk_In">
                    <img src="~/assets/images/walkin.png" width="90px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>Walk IN</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0 text-center">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller=" Counselling">
                    <img src="~/assets/images/Counse.png" width="100px" class="card-img-top mb-5" alt="...">
                    <div class="card-body border-0 mt-4">
                        <strong> Counselling </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller="Pathology">
                    <img src="~/assets/images/Lab.png" width="100px" class="card-img-top mb-3" alt="...">
                    <div class="card-body border-0 mt-5">
                        <strong>   Pathology</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller="Chronic_Medication">
                    <img src="~/assets/images/Chrnic.png" width="100px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>   Chronic Medication </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller="Gender_Based_Violence">
                    <img src="~/assets/images/GBV.png" width="80px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong> GBV </strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
else if (User.IsInRole("Nurse"))
{
    <div class="container-fluid text-center">
        <div class="card-group gap-2 border-0">

            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Nurse" asp-controller="Walk_In">
                    <img src="~/assets/images/walkin.png" width="90px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>Walk IN</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0 text-center">
                <a style="text-decoration:none;" asp-action="Nurse" asp-controller=" Counselling">
                    <img src="~/assets/images/Counse.png" width="100px" class="card-img-top mb-5" alt="...">
                    <div class="card-body border-0 mt-4">
                        <strong> Counselling </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Nurse" asp-controller="Pathology">
                    <img src="~/assets/images/Lab.png" width="100px" class="card-img-top mb-3" alt="...">
                    <div class="card-body border-0 mt-5">
                        <strong>   Pathology</strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Nurse" asp-controller="Chronic_Medication">
                    <img src="~/assets/images/Chrnic.png" width="100px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong>   Chronic Medication </strong>
                    </div>
                </a>
            </div>
            <div id="container" class="card border-0">
                <a style="text-decoration:none;" asp-action="Doctor" asp-controller="Gender_Based_Violence">
                    <img src="~/assets/images/GBV.png" width="80px" class="card-img-top" alt="...">
                    <div class="card-body border-0">
                        <strong> GBV </strong>
                    </div>
                </a>
            </div>

            @*   <a style="text-decoration:none;" asp-action="Patient" asp-controller="Counselling">
        <div class="card border-0">
        <div class="card-body border-0">
        Counselling
        </div>
        </div>
        </a>
        <a style="text-decoration:none;" asp-action="Patient" asp-controller="Pathology">
        <div class="card border-0">
        <div class="card-body border-0">
        Pathology
        </div>
        </div>
        </a>
        <a style="text-decoration:none;" asp-action="Patient" asp-controller="Chronic_Medication">
        <div class="card border-0">
        <div class="card-body ">
        Chronic Medication
        </div>
        </div>
        </a>
        <a style="text-decoration:none;" asp-action="Patient" asp-controller="GBV">
        <div class="card border-0">
        <div class="card-body">
        GBV
        </div>
        </div>
        </a>
        *@
        </div>
    </div>
}




